body{
  padding-top    : 100px;      /* ヘッダーの高さに合わせる */
  padding-bottom : 100px;      /* フッターの高さに合わせる */
}

/* === ヘッダー ============================================= */
.header{
  position    : fixed;
  top         : 0;
  left        : 0;
  right       : 0;
  height      : 100px;
  background  : linear-gradient(#990000, #ff6c6c);
  z-index     : 10;
  text-align  : center;
  font-weight : bold;
}

/* === フッター ============================================= */
.footer{
  position    : fixed;
  bottom      : 0;
  left        : 0;
  right       : 0;
  height      : 100px;
  background  : linear-gradient(#55d955, #003300);
  z-index     : 10;
  text-align  : center;
  font-weight : bold;
}
/* === 文字（大） =========================================== */
.header-title, .footer-title{
  font-size   : 30px;
  line-height : 70px;
  color       : #fff;
}
 
/* === 文字（小） =========================================== */
.header-menu, .footer-menu{
  font-size   : 14px;
  line-height : 30px;
  color       : #fff;
  margin: 0 20px;
}
/* === ヘッダー、フッターの移動ボタン ======================= */
.hd-btn-style, .ft-btn-style{
  display     : inline-block;
  position    : absolute;
  right       : 10px;
  cursor      : pointer;
  font-size   : 12px;
  line-height : 12px;
  border      : 1px solid #ccc;
  padding     : 3px;
  background  : rgba(255, 255, 255, .5);
  border-radius: 3px;
  
}
#hd-btn-area{
  bottom      : 5px;        /* ヘッダーはボタンを下寄せにする */
}
#ft-btn-area{
  top         : 5px;        /* フッターはボタンを上寄せにする */
}
 
/* === ヘッダー、フッターの移動ボタンにフォーカスされた時 === */
.hd-btn-style:hover, .ft-btn-style:hover{
  background  : #fff;
}