<div id="footer-area" class="footer">
  <div class="footer-menu">メニュー</div>
  <div class="footer-title">Shift App</div>
  <div id="ft-btn-area" class="ft-btn-style" onclick="goScroll('F')">▼</div>
</div>