<div id="header-area" class="header">
  <div class="hdStrBig">Shift App</div>
  <%= link_to '新規登録', new_user_registration_path, class: "sign-up hdStrSmall" %>
  <div id="hdBtnArea" class="hdBtnStyle" onclick="goScroll('H')">▲</div>
</div>