<%= render "shared/header" %>

  <div class="main">
    <div class="main-list">  
    </div>
    <div class="main-list">  
    </div>
    <div class="main-list">  
    </div>
    <div class="main-list">  
    </div>
  </div>

<%= render "shared/footer" %>