<%= render "shared/header" %>

<table class="tableArea" id="makeImg">
  <tr>
    <th>見出し1</th><th>見出し2</th><th>見出し3</th><th>見出し4</th><th>見出し5</th><th>見出し6</th>
  </tr>
  <tr>
    <td>データ11</td><td>データ12</td><td>データ13</td><td>データ14</td><td>データ15</td><td>データ16</td>
  </tr>
  <tr>
    <td>データ21</td><td>データ22</td><td>データ23</td><td>データ24</td><td>データ25</td><td>データ26</td>
  </tr>
  <tr>
    <td>データ31</td><td>データ32</td><td>データ33</td><td>データ34</td><td>データ35</td><td>データ36</td>
  </tr>
  <tr>
    <td>データ41</td><td>データ42</td><td>データ43</td><td>データ44</td><td>データ45</td><td>データ46</td>
  </tr>
  <tr>
    <td>データ51</td><td>データ52</td><td>データ53</td><td>データ54</td><td>データ55</td><td>データ56</td>
  </tr>
  <tr>
    <td>データ61</td><td>データ62</td><td>データ63</td><td>データ64</td><td>データ65</td><td>データ66</td>
  </tr>
  <tr>
    <td>データ71</td><td>データ72</td><td>データ73</td><td>データ74</td><td>データ75</td><td>データ76</td>
  </tr>
  <tr>
    <td>データ81</td><td>データ82</td><td>データ83</td><td>データ84</td><td>データ85</td><td>データ86</td>
  </tr>
</table>

<%= render "shared/footer" %>