<%= render "shared/header" %>

<table class="table-area" id="table-main">
  <% for i in (1..40) %>
    <tr class="table-head">
    <% for j in (1..30) %>
      <td>未定</td>
    <% end %>  
    </tr>
  <% end %>  
</table>    
