.user-registration {
  width: 100px;
}
 /* --- テーブル全体のスタイル指定 --------------- */
.tableArea {
  width          : 100%;             /* 100%幅     */
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */
  background     : #ffffff;          /* テーブル全体の背景色 */
}
 /* --- ヘッダーのスタイル指定 ------------------- */
.tableArea th {
  text-align    : center;            /* 文字位置   */
  font-weight   : bold;              /* 太文字     */
  padding       : 0px 0px;           /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  background    : #4da6ff;           /* 背景色     */
}
 /* --- 明細のスタイル指定 ----------------------- */
.tableArea td {
  text-align    : center;            /* 文字位置   */
  padding       : 0px 0px;           /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
}
 /* --- 明細のｎ行スタイル指定 ------------------- */
.tableArea tr:nth-child(2n+1) {
  background    : #b1d8ff;           /* 背景色     */
}
